<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Fog3211_alfred-workflow_random-password</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>59A7E18A-28CB-4F94-B3C0-A05315D26FD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AE17F26-1BC1-447B-9DF6-ED750EDA0085</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9193B305-81D5-424F-A7E5-A11F80451727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59A7E18A-28CB-4F94-B3C0-A05315D26FD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fog3211</string>
	<key>description</key>
	<string>快速生成随机密码</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Password</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Usage: rp &lt;密码长度&gt;</string>
				<key>title</key>
				<string>生成随机密码</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9193B305-81D5-424F-A7E5-A11F80451727</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59A7E18A-28CB-4F94-B3C0-A05315D26FD5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>随机密码复制成功</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7AE17F26-1BC1-447B-9DF6-ED750EDA0085</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>#随机密码

## Features:
－ 快速生成随机密码
－ 复制到剪贴板
－ 支持自定义长度

## Author
- Fog3211
- email: fog3211[AT]163.com

## License
MIT: https://github.com/Fog3211/alfred-workflow/blob/main/LICENSE

# Thanks
alfy:(https://github.com/sindresorhus/alfy)
randexp:(https://github.com/fent/randexp.js)</string>
	<key>uidata</key>
	<dict>
		<key>59A7E18A-28CB-4F94-B3C0-A05315D26FD5</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>7AE17F26-1BC1-447B-9DF6-ED750EDA0085</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>9193B305-81D5-424F-A7E5-A11F80451727</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/Fog3211/alfred-workflow</string>
</dict>
</plist>
